p{
    text-align: center;
    font-size: 120px;
    font-family: Arial;
    margin-top: 38vh;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<?php

$x = 8;

switch ($x) {
    case 10:
        echo "The answer is 10";
    break;
    case 15:
        echo "The answer is 15";
    break;
    case 6:
        echo "The answer is 6";
    break;
    case 8:
        echo "The answer is 8";
    break;
    default:
        echo "There is no answer";
}

?>

</body>
</html>